@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Вечеринка</title>
</head>
<body>
    <div>
        <div>Вы приглашены на вечеринку</div>
        <a asp-action="RSVPForm">RSVP Now</a>
    </div>
</body>
</html>

