@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Вечеринка</title>
    <link rel="stylesheet" 
        href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="text-center m-2">
        <div>Вы приглашены на вечеринку</div>
        <a class="btn btn-primary" asp-action="RSVPForm">Заполните форму</a>
    </div>
</body>
</html>

