@model IEnumerable<GuestResponse>
@{
    Layout=null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Список гостей</title>
    <link rel="stylesheet"
          href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
       <h1 class="text-center">Список гостей на вечеринке</h1>
       <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach(GuestResponse i in Model)
                {
                    <tr>
                        <td>@i.Name</td>
                        <td>@i.Email</td>
                        <td>@i.Phone</td>
                    </tr>
                }
            </tbody>
       </table>
    </div>
</body>
</html>