@page "/counter"
@rendermode InteractiveAuto
<h1>Counter</h1>
<button @onclick="IncrementCount">Click</button>
<p>Count:@count</p>
@code {
    int count = 0;
    void IncrementCount()
    {
        count++;
    }
}
