@page "/"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="IncrementCount">Click</button>
<p>Count:@count</p>
@code{
    int count=0;
    void IncrementCount(){
        count++;
        Console.WriteLine($"Count:{count}");
    }
}
